$enable-shadows: true;
$primary: #3ba1ff;
$body-color: #333;
$body-bg: #fff;

@import "../scss/bootstrap.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

h6 {
  font-size: 18px;
  font-weight: bold;
  color: #888888;
}

h4 {
  font-weight: bold;
  font-size: 24px;
}
h3 {
  font-weight: 700;
}
span {
  color: #3ba1ff;
}

/* Navbar */
.bg-light {
  background-color: #fff !important;
}
.navbar-light .navbar-nav .nav-link.active {
  color: #3ba1ff;
  font-weight: 600;
}
.nav-link:hover {
  border-bottom: 2px solid #3ba1ff;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-decoration: none;
  color: #3ba1ff !important;
  transform: scale(1);
  transition: all 0.3s ease;
}

/*Banner Slider*/
.carousel-indicators li {
  background-color: #fff;
  width: 16px;
  height: 16px;
  border-radius: 100%;
}

.carousel-indicators .active {
  background-color: #f9e748;
  height: 16px;
  width: 32px;
}

/* Services */
.services p {
  font-size: 20px;
  color: #888888;
}
.services .service-card:hover {
  transform: scale(1.06);
  transition: all 0.3s ease-out;
}
//responsive image services
@media only screen and (max-width: 670px) {
  /* styles for narrow screens */
  .services img {
    width: 200px;
  }
}
@media only screen and (max-width: 415px) {
  /* styles for narrow screens */
  .services img {
    width: 150px;
  }
}
@media only screen and (max-width: 990px) {
  /* styles for narrow screens */
  .services img {
    width: 250px;
  }
}

/* Kalkulator */
.calculator h6 {
  font-weight: lighter;
  color: #000;
  margin-bottom: 20px;
}
.calculator input {
  margin-bottom: 20px;
  width: 250px;
  height: 30px;
  background: none;
  border: none;
  border-bottom: 2px solid #c3e1fd;
  box-sizing: border-box;
  outline: none;
  padding-left: 4px;
}
@media only screen and (max-width: 377px) {
  /* styles for narrow screens */
  .calculator input {
    margin-bottom: 20px;
    width: 150px;
    height: 30px;
    background: none;
    border: none;
    border-bottom: 2px solid #c3e1fd;
    box-sizing: border-box;
    outline: none;
    padding-left: 4px;
  }
}
.calculator button {
  width: 300px;
  height: 45px;
}
@media only screen and (max-width: 350px) {
  .calculator button {
    width: 200px;
  }
  .calculator h3 {
    font-size: 20px;
  }
}
// @media only screen and (max-width: 320px) {
//   .calculator button {
//     width: 150px;
//   }
// }

.calculator img:hover {
  transform: scale(1.06);
  transition: all 0.3s ease-out;
}

/* Tabungan Section */
.tabungan-image img:hover {
  transform: scale(1.06);
  transition: all 0.3s ease-out;
}
.tabungan-section p {
  color: #888888;
  width: 80%;
}

//responsive image tabungan
@media only screen and (max-width: 670px) {
  /* styles for narrow screens */
  .tabungan-image img {
    width: 400px;
  }
}
@media only screen and (max-width: 415px) {
  /* styles for narrow screens */
  .tabungan-image img {
    width: 300px;
  }
}
@media only screen and (max-width: 333px) {
  /* styles for narrow screens */
  .tabungan-image img {
    width: 200px;
  }
}

/* kpr */
.kpr p {
  margin-top: 30px;
  font-size: 20px;
  color: #888888;
  width: 80%;
}

.kpr img:hover {
  transform: scale(1.06);
  transition: all 0.3s ease-out;
}
//responsive image kpr
@media only screen and (max-width: 670px) {
  /* styles for narrow screens */
  .kpr img {
    width: 350px;
  }
}
@media only screen and (max-width: 415px) {
  /* styles for narrow screens */
  .kpr img {
    display: none;
    // width: 250px;
  }
  // .kpr p {
  //   align-items: center;
  // }
}
@media only screen and (max-width: 285px) {
  /* styles for narrow screens */
  .kpr img {
    display: none;
    // width: 180px;
    // margin-left: 30px;
    // margin-top: 30px;
  }
  // .kpr p {
  //   align-items: center;
  // }
}

/* Hunian */
.hunian h6 {
  font-weight: lighter;
  font-size: 16px;
  margin-top: 24px;
}
.hunian .card-hunian:hover {
  transform: scale(1.06);
  transition: all 0.3s ease-out;
}
@media only screen and (max-width: 900px) {
  /* styles for narrow screens */
  .hunian img {
    width: 190px;
  }
}

/* Download */
.download p {
  width: 85%;
  font-size: 20px;
  color: #888888;
}
//responsive image tabungan
@media only screen and (max-width: 670px) {
  /* styles for narrow screens */
  .download-phone img {
    margin-top: 20px;
    width: 300px;
  }
}
@media only screen and (max-width: 415px) {
  /* styles for narrow screens */
  .download-phone img {
    margin-top: 20px;
    width: 250px;
  }
}
@media only screen and (max-width: 333px) {
  /* styles for narrow screens */
  .download-phone img {
    margin-top: 20px;
    width: 150px;
  }
}
.download img:hover {
  transform: scale(1.06);
  transition: all 0.3s ease-out;
}

/* Footer */
.footer p {
  font-size: 14px;
  color: #fff;
  width: 95%;
}
@media only screen and (max-width: 380px) {
  /* styles for narrow screens */
  .footer .footer-logozenia {
    width: 280px;
  }
}
@media only screen and (max-width: 315px) {
  /* styles for narrow screens */
  .footer .footer-logozenia {
    width: 250px;
  }
}
@media only screen and (max-width: 28px) {
  /* styles for narrow screens */
  .footer .footer-logozenia {
    width: 220px;
  }
}
